@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600&display=swap');

html,
body {
    height: 100%;
    background-color: #60399e;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f6fa;
}

.card-title {
    text-shadow: 0 0 10px #e1acff;
}

.login-form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.card {
    background-color: #2a1552;
    border-color: #ac64ff;
    box-shadow: 0 0 20px #ac64ff;
}

.form-text {
    background: #ebc8ff;
    border: none;
    font-size: 18px;
}

.form-text:focus {
    background: #fdf6ff;
    outline: none;
    border-color: #7abeca;
    box-shadow: 0 0 10px #7abeca;
}

.form-links {
    text-decoration: none;
    color: #f5f6fa;
    transition: .3s;
}

.form-links:hover {
    text-decoration: none;
    color: #f5f6fa;
    text-shadow: 0 0 10px #e1acff;
}

.btn-forms {
    background-color: #36196b;
    border-color: #9e6aff !important;
    transition: .3s
}

.btn-forms:hover {
    background-color: #432183 !important;
    border-color: #9e6aff !important;
    box-shadow: 0 0 5px #9e6aff !important;
}

.failed {
    background-color: #ee5253;
}

.success {
    background-color: #10ac84;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}